<div class="board-container">
  <!-- Нумерация строк слева -->
  <div class="numbers-column">
    <div *ngFor="let num of [8, 7, 6, 5, 4, 3, 2, 1]" class="number">
      {{ num }}
    </div>
  </div>

  <!-- Шахматная доска -->
  <div class="board">
    <div *ngFor="let row of board.slice(); let rowIndex = index" class="board-row">
      <div *ngFor="let square of row; let colIndex = index"
            class="square"
            [ngClass]="{'black': (rowIndex + colIndex) % 2 !== 0, 'white': (rowIndex + colIndex) % 2 === 0}"
            (drag)="onDragStart($event, rowIndex, colIndex)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, rowIndex, colIndex)">
           <img *ngIf="square" [src]="getImageForPiece(square)" class="piece" alt="chess piece" draggable="true">
      </div>
    </div>
  </div>

  <!-- Нумерация столбцов снизу -->
  <div class="letters-row">
    <div *ngFor="let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']" class="letter">
      {{ letter }}
    </div>
  </div>
</div>
